<div class="tic-tac-toe">
    <div class="header">Tic Tac Toe Enterprise</div>
    <div class="board-container">
        <board class="board" (cellClick)="onCellClick($event)"></board>
        <div *ngIf="busy | async" class="spinner-container">
            <div class="spinner"></div>
        </div>
    </div>

    <div class="options">

        <div class="option-block">
            <h3>Credentials</h3>
            <div class="option-row">
                <button (click)="onNickname()">Play with the nickname</button>
                <input type="text" [(ngModel)]="nickname">
            </div>
        </div>

        <div class="option-block" [class.disable]="!validNickname">
            <h3>Game</h3>
            <button class="option-row" (click)="onStartHuman()">Start Human - CROSS</button>
            <button class="option-row" (click)="onStartAgent()">Start Agent - NAUGHT</button>
        </div>

        <div class="option-block" [class.disable]="!validNickname">
            <h3>Training</h3>
            <div class="option-row">
                <button (click)="onTrainAgent()" [disabled]="!(started | async)">Train Agent</button>
                <input type="number" [(ngModel)]="games">
            </div>
            <button class="option-row" (click)="onCleanAgent()">Clean Agent Training</button>
        </div>

        <h1 *ngIf="(winner | async) != 0 && (winner | async) == 1">The Winner is O</h1>
        <h1 *ngIf="(winner | async) != 0 && (winner | async) == 2">The Winner is X</h1>
    </div>

    <div>
        <h3>Statistics after the training</h3>
        <div class="statistics">
            <label>Games: {{statistics?.games}}</label>
            <label>Cross wins: {{statistics?.crossCount}}</label>
            <label>Naught wins: {{statistics?.naughtCount}}</label>
            <label>Draws: {{statistics?.drawCount}}</label>
        </div>
    </div>
</div>