<div class="tic-tac-toe">
    <div class="header">Tic Tac Toe Enterprise</div>
    <div class="board-container">
        <board class="board" (cellClick)="onCellClick($event)"></board>
        <div *ngIf="busy | async" class="spinner-container">
            <div class="spinner"></div>
        </div>
    </div>
    <div>
        <button (click)="onStartHuman()">Start Human</button>
        <button (click)="onStartAgent()">Start Agent</button>
        <button (click)="onTrainAgent()">Train Agent</button>
        <h1 *ngIf="(winner | async) != 0 && (winner | async) == 1">The Winner is O</h1>
        <h1 *ngIf="(winner | async) != 0 && (winner | async) == 2">The Winner is X</h1>
    </div>
</div>