line {
    stroke: black;
    stroke-width: 1;
}

rect {
    fill: lightgray;
}

.title {  
    font-size: 1.3em;
    fill: blue;
  }

.player-x line {
    stroke: red;
    stroke-width: 3;
}

.player-o circle {
    stroke: blue;
    fill: transparent;
    stroke-width: 3;
}